.ui-dropdown {

  .ui-dd-hook {
    background: none;
    border: 0;
    cursor: pointer;
    font-size: 1rem;
  }

  .ui-dd-box {
    background: #fff;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 3px;

    padding: .2rem .2rem .1rem;
  }

  .ui-dd-box:not([hidden]) {
    position: absolute;
    z-index: 999;
  }
}
