.ui-dropdown {
  & > button {
    background: none;
    border: 0;
  }

  [role] {
    background: var(--main-bg-color);
    color: var(--main-color);

    border: 1px solid var(--dropdown-border-color, var(--main-color, #000));
    outline: none;
  }

  [role]:not([hidden]) {
    position: absolute;
    margin-top: .2rem;
    z-index: 999;
  }
}
